﻿body {
    background-color:grey;
    width:100%;
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col1
{
    float: left;
    width: 15%;
    text-align:right;
    margin-right:5px;
    font-family:Arial;
    font-size:12pt;
}
.col2
{
    float: left;
    width: 25%;
    text-align:left;
}
.row{
    overflow: hidden;
    height:50px;  /* "overflow: auto;" works just as well instead */
    width:100%;
    text-align:center;        /* Helps older versions of IE */
}
.col {
    float: left;
    width:25%;
    text-align:center;
    font-family:Arial;
    font-size:12pt;
}
