﻿@model CustomMembership.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {            
            <div>
                <section class="container">                    
                    <div class="login" style="background-color:#E6E6FA;">
                        <div id="divHeader" style="background-color:#483D8B; height:80px; text-align:left; color:white;">
                            <label style="font-size:18px; margin-left:15px; padding-top:30px; vertical-align:middle;">CWT DIGITAL - Chilli</label>
                        </div>
                        <div>
                            @Html.AntiForgeryToken()
                            <div style="text-align:center;"><h4>Please login with your credentials.</h4></div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div style="text-align:center;">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        <span style="float: left; padding-left: 8px;">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        <span style="float: left; padding-left: 8px;">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</span>
</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox" style="float:left !important;">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-default" style="margin-right:100px !important;" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Forgot your password? <a href="#">Click here</a>.</p>
                                    <p>To Register a new please @Html.ActionLink("Click here", "Register", "Account")</p>
                                </div>
                                <div style="color:red;font-size:16pt;">@ViewBag.ResultMessage</div>
                            </div>
                        </div>
                    </div>                    
                </section>
            </div>
        }        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
